body {
    background-color:#FFCF9D;
}

.logo {
    height: 120px;
    width: 200px;
}

.header-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding:20px;
    background-color:#6f0011;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.links {
    font-size:15px;

}

.links ul {
    display:flex;
    list-style-type: none;
    text-decoration: none;
    gap: 4px;
}

.links ul p {
    font-size:x-large;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.subheader-con {
    background-color:#6f0011;

    padding: 60px;

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.subheader-con .left {
    width: 700px;
    height:auto;
    color:#EC9131;
}

.subheader-con .left p {
    width: 700px;
    height:auto;
    color:#ab4a3a;
}

.image {
    height:300px;
    width:auto;
}

button {
    background-color: #0060B6;
    color: midnightblue;   
    
    padding: 1em 0em;
}

button:hover {
    background-color: #00A0C6;
}

button a {
    padding: 1em 3em;
    color: midnightblue;
}

button a:hover {
    padding: 1em 3em;
    color: midnightblue;
}



.body-con .body-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-content {
    display: flex;
    justify-content: space-evenly;
}

.body-content p {
    display: flex;
    justify-content: center;
    width: auto;
}


.subbody-con {
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: #9d807e;
    padding: 60px;
    margin: 30px 0px;
    height: auto;
    width: auto;
}

.subbody-con .speaker {
    align-self: flex-end;
    margin-right: 80px;
    font-weight: bold;
}

.subbody-con div p {
    font-size: 20px;
}



.footer-con {
    display:flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    width: auto;
}

.footer {
    display:flex;
    align-items:center;
    justify-content: space-between;

    background-color:#6f0011;
    height: 180px;
    width: 900px;
}

.footer div {
    padding:;
    border:;
    margin:20px;
}

.footer .card {
    color:#EC9131;
}

.footer .button button {
    padding: 10px 30px;
}